# openai
OPENAI_API_KEY=

# langfuse
LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_BASE_URL=https://cloud.langfuse.com

# db
DATABASE_URL=postgresql://personal_trainer:personal_trainer@localhost:5432/personal_trainer
PRODUCTION_DATABASE_URL=postgresql://personal_trainer:personal_trainer@localhost:5432/personal_trainer_production
